h2{
	color: blueviolet;
	margin: 0;
	padding: 20px;
	text-align: center;
}

section{
	padding: 100px;
	border-width: 50px;
	border-top: 50px;
	border-radius: 40px;


}
.background{
	background-color: gray;
	border-radius: ;
}

p{
	text-align: center; \
	text-decoration-style: double;
}
h3,h1{
	text-align: center;
}

.resize{
	height: 40px;
	width: 40px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	color: darkblue;

}
.main2{
	color: orange;
	font-weight: bold;
	 font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;

}

label {
  margin-bottom: 5px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px
}

button:hover {
  background-color: red;
  color: #333;
  cursor: pointer;
}

footer{
	background-color: powderblue;
	border-radius: 50px;
	padding: 100px;
}
h4{
	align-content: center;
	text-align: center;
}
P{
	text-align: center;
}
.footer{
	display: flex;
	padding: 10px;
	justify-content: center;
	padding: 10px;
	border-radius: 50px;	
}
.resize2{
	height: 30px;
	width: 30px;
	border-radius: 40px;
}
.footer img{
	margin-right: 10px;
}
